---
import type { Image as SanityImage } from '@sanity/types';
import { Image } from 'astro:assets';

import { urlFor } from '@/lib/sanity/image-url';

import { ContactButton } from '../buttons';

interface Props {
	email: string;
	firstName: string;
	image: SanityImage;
	lastName: string;
	phone: string;
	role: string;
	vision: string;
}

const { email, firstName, image, lastName, phone, role, vision } = Astro.props;

const imageSource = urlFor(image, 176).url();
const initials = `${firstName.charAt(0)}${lastName.charAt(0)}`;
---

<article>
	{
		imageSource ? (
			<Image alt={image.alt as string} class="image" height={176} src={imageSource} width={176} />
		) : (
			<div class="image text-6xl font-bold">{initials}</div>
		)
	}

	<div
		class="-mt-36 ml-8 flex h-full flex-col justify-between gap-4 rounded-xl bg-white text-black"
	>
		<header class="pl-40 pr-12 pt-6">
			<h3 class="font-serif text-3xl">{firstName} {lastName}</h3>
			<p class="mb-2 text-lg">{role}</p>
			<div class="flex gap-6">
				<ContactButton email={email} />
				<ContactButton phone={phone} />
			</div>
		</header>

		<p class="px-12 pb-12 text-xl">{vision}</p>
	</div>
</article>

<style>
	.image {
		@apply bg-brand-secondary-light text-brand border-brand;
		@apply relative z-[1] grid place-items-center;
		@apply rounded-full border-8;
	}
</style>
