---
import type { Image as SanityImage } from '@sanity/types';
import { Image } from 'astro:assets';

import { urlFor } from '@/lib/sanity/image-url';

interface Props {
	author: {
		firstName: string;
		image: SanityImage;
		lastName: string;
	};
	categories: {
		slug: string;
		title: string;
	}[];
	excerpt: string;
	featuredImage: SanityImage;
	slug: string;
	title: string;
}

const { author, categories, excerpt, featuredImage, slug, title } = Astro.props;
---

<article class="group grid grid-cols-[50%,50%] rounded-xl bg-white text-black">
	<a class="overflow-hidden rounded-l-xl" href={slug}>
		<Image
			alt={featuredImage.alt as string}
			class="transform-cpu duration-500 group-hover:scale-110"
			height={450}
			src={urlFor(featuredImage, 450, 800).url()}
			width={800}
		/>
	</a>

	<div class="flex flex-col justify-between gap-2 px-14 py-8">
		<p class="flex gap-6 text-lg">
			{categories.map(category => <a href={category.slug}>{category.title}</a>)}
		</p>
		<h3 class="line-clamp-2 text-3xl font-bold"><a href={slug}>{title}</a></h3>
		<p class="line-clamp-3 text-xl">{excerpt}</p>

		<div class="flex items-center gap-3">
			<Image
				alt={author.image.alt as string}
				class="rounded-full"
				height={56}
				src={urlFor(author.image, 56).url()}
				width={56}
			/>
			<p class="text-xl">{author.firstName} {author.lastName}</p>
		</div>
	</div>
</article>
