---
import { CheckCircle } from 'lucide-astro';

import { CtaButton } from '../items';

interface Props {
	benefits: string[];
	buttonText: string;
	description: string;
	isHighlighted: boolean;
	price: number;
	subtitle: string;
	title: string;
	titleBenefit: string;
}

const { benefits, buttonText, description, isHighlighted, price, subtitle, title, titleBenefit } =
	Astro.props;
---

<article
	class:list={[
		'flex w-1/4 flex-col justify-between overflow-hidden rounded-xl shadow-lg',
		'hover:bg-gray-light bg-white p-8 text-black',
		'transition-all duration-300',
		{ '-translate-y-16 hover:-translate-y-8': isHighlighted },
		{ 'hover:-translate-y-8': !isHighlighted },
	]}
>
	{
		isHighlighted && (
			<div
				class:list={[
					'bg-brand-secondary flex h-10 items-center justify-center text-xs font-bold',
					'origin-center translate-x-[calc(50%-1rem)] translate-y-[calc(50%-1.5rem)] rotate-45',
				]}
			>
				Beliebt
			</div>
		)
	}

	<div class:list={[{ '-mt-10': isHighlighted }]}>
		<header class="flex items-center gap-4">
			<div class="bg-brand-light/15 text-brand rounded-2xl p-4">
				<slot name="icon" />
			</div>

			<div>
				<p class="text-lg">{subtitle}</p>
				<h2 class="font-serif text-2xl uppercase">{title}</h2>
			</div>
		</header>

		<div class="mt-6">
			<p class="text-lg">{description}</p>
			<div class="my-6 text-center text-5xl font-bold">
				{price} € <span class="text-sm">/monatlich</span>
			</div>
			<h3 class="font-sans text-lg font-bold">{titleBenefit}</h3>
			<ul class="mt-4 text-lg">
				{
					benefits.map(benefit => (
						<li class="flex items-center gap-2">
							<CheckCircle /> {benefit}
						</li>
					))
				}
			</ul>
		</div>
	</div>

	<footer class="mt-8">
		<CtaButton class="w-full" href="#!" type={isHighlighted ? 'secondary' : 'primary'}>
			{buttonText}
		</CtaButton>
	</footer>
</article>
